:root {
    --main-color: rgb(36, 36, 36);
    --second-color: rgb(241, 223, 15);
    --main-text: rgb(52, 52, 52);
}

body {
    height: 98vh;
    background-color: var(--main-color);
    color: var(--main-text);
    font-size: 20px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: var(--second-color);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.nav_item {
    margin: 0 10px;
    cursor: pointer;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}

.white_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(173, 173, 173);
}

.black_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(163, 130, 0);
}

.white_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: rgb(224, 224, 224);
    font-size: 65px;
    cursor: pointer;
}

.black_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: rgb(44, 44, 44);
    font-size: 65px;
    cursor: pointer;
}