* {
  box-sizing: border-box;
}

:root {
    --main-color: rgb(36, 36, 36);
    --second-color: rgb(234, 182, 28);
    --main-text: rgb(52, 52, 52);
}

body {
    height: 98vh;
    background-color: var(--main-color);
    color: var(--main-text);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: var(--second-color);
    font-size: 30px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.nav_item {
    margin: 0 10px;
    cursor: pointer;
}

.chat {
  width: 200px;
  margin: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, minmax(75px, auto));
    grid-template-rows: repeat(8, minmax(75px, auto));
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 10px;
}

.white_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: rgb(134, 131, 123);
}

.black_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: rgb(134, 118, 70);
}

.white_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    font-size: 65px;
    cursor: pointer;
}

.black_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    font-size: 65px;
    cursor: pointer;
}





  input[type='text'] {
    font-size: inherit;
  }

  #log {
    width: 30em;
    height: 20em;
    overflow: auto;
    margin: 0.5em 0;

    border: 1px solid black;
  }

  #status {
    padding: 0 0.2em;
  }

  #text {
    width: 17em;
    padding: 0.5em;
  }

  .msg {
    margin: 0;
    padding: 0.25em 0.5em;
  }

  .msg--status {
    /* a light yellow */
    background-color: #ffffc9;
  }

  .msg--message {
    /* a light blue */
    background-color: #d2f4ff;
  }

  .msg--error {
    background-color: pink;
  }